%% -*- erlang -*-
[
  "config/sys.config",
  {lager,
    [
      {log_root, "/var/data/log"}
    ]},
  {blockchain,
    [
     %%{snap_source_base_url, "https://snapshots.helium.wtf/mainnet"},
     {snap_source_base_url, "https://helium-snapshots.nebra.com"},
     {fetch_latest_from_snap_source, true},
     {honor_quick_sync, true},
     {quick_sync_mode, blessed_snapshot},
     {blessed_snapshot_block_height, 1163951},
     {blessed_snapshot_block_hash,
      <<51,133,157,224,60,19,204,9,132,187,88,145,152,50,73,204,122,244,24,46,222,217,156,208,0,14,45,124,140,88,210,121>>},
     {listen_addresses, ["/ip4/0.0.0.0/tcp/44158"]},
     {num_consensus_members, 16},
     {peerbook_update_interval, 900000},
     {max_inbound_connections, 6},
     {outbound_gossip_connections, 2},
     {peerbook_allow_rfc1918, false},
     {metadata_fun, fun miner_util:metadata_fun/0},
     {relay_limit, 50},
     {disable_gateway_cache, true},
     {gw_cache_retention_limit, 0},
     {gw_context_cache_max_size, 0},
     {snapshot_memory_limit, 4048}
	%%{key, {ecc, [{key_slot, 0}, {onboarding_key_slot, 15}, {bus, "i2c-0"}, {address, 16#60}]}}
    ]},
  {miner,
    [
     {jsonrpc_ip, {0,0,0,0}}, %% bind jsonrpc to host when in docker container
     {use_ebus, true},
      {radio_device, { {0,0,0,0}, 1680,
        {0,0,0,0}, 31341} }
    ]}
].
